server:
  port: 8080
spring:
  application:
    name: foodstorage
  devtools:
    livereload:
      enabled: true
  datasource:
    url: jdbc:h2:mem:fooddb
    username: root
    password: root
    driver-class-name: org.h2.Driver
  h2:
    console:
      path: /h2-console
      enabled: true
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true